mixin load()
  .white-container.mb-4
    .white-header-container
      h4.white-title Cargar Archivo
      a(:href="`/cucop/lists/${listId}/quotation/${quotationId}`").btn.btn-secondary.me-3 Regresar
    hr.white-hr
    .white-body-container
      .row
        <span class="text-red">* El orden y nombre de los campos debe ser como en la tabla de abajo *</span>
      .row.mt-3
        .col-8
          input(type="file" @change="handleFileUpload" accept=".csv, .xlsx, .xls").form-control
      .row.mt-3
        .col.text-end
          button(type="submit" @click="processFile" :disabled="isLoading").btn.btn-primary
            span(v-if="isLoading")
              .spinner-border.text-info(role="status" v-if="isLoading")
              span.sr-only Cargando...
            span(v-if="!isLoading") {{ processButtonText }}
      .row.mt-3
        div(role="alert" v-if="code==200").alert.alert-success.mt-3 Archivo cargado exitosamente
        div(role="alert" v-if="code!=0 && code!=200").alert.alert-danger.mt-3 Error {{ errorMessage }}