include ../../common/table
mixin table()
  ul.nav.nav-tabs
    li.nav-item(role="presentation")
      button.nav-link.active(id="calendar-tab" data-bs-toggle="tab" data-bs-target="#data-pane" type="button" role="tab") Datos
    li.nav-item(role="presentation")
      button.nav-link(id="table-tab" data-bs-toggle="tab" data-bs-target="#logs-pane" type="button" role="tab") Logs
  .tab-content(id="myTabContent")
    .tab-pane.fade(id="logs-pane")
      .white-container-tab
        .white-body-container
            table.table
              thead
                tr
                  th Hora
                  th Tipo
                  th Mensaje
              tbody
                tr(v-for="log in loadLogs") 
                  td(v-html="log.time")
                  td
                    h6
                      span(v-if="log.type === 'info'").badge.text-bg-primary Info
                      span(v-if="log.type === 'success'").badge.text-bg-success Exito
                      span(v-if="log.type === 'error'").badge.text-bg-danger Error
                  td(v-html="log.message")
    .tab-pane.fade.show.active(id="data-pane")
      .white-container-tab
        .white-body-container
          table.table
            thead
              tr
                th CUCoP
                th Producto
                th Marca
                th Modelo
                th Unidad
                th Descripción
                th Cantidad
                th Precio
                th Descuento
                th IVA
                th ISR
            tbody
              tr(v-for="quotProduct in loadQuotProducts")
                td(v-html="quotProduct.CUCoP")
                td(v-html="quotProduct.Producto")
                td(v-html="quotProduct.Marca")
                td(v-html="quotProduct.Modelo")
                td(v-html="quotProduct.Unidad")
                td(v-html="quotProduct.Descripción")
                td(v-html="quotProduct.Cantidad")
                td(v-html="quotProduct.Precio")
                td(v-html="quotProduct.Descuento")
                td(v-html="quotProduct.IVA")
                td(v-html="quotProduct.ISR")
style.
  .white-container-tab {
    background-color: white;
    box-shadow: 0 0 3px rgb(0 0 0 / 20%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .white-body-container {
    display: block;
    overflow-x: auto;
  }
  .table {
    width: 100%;
    table-layout: auto;
  }