mixin filters()
  .white-container.mb-4
    .white-header-container
      h5.white-title Filtros
      a(href="/time/checks/create").btn.btn-link.p-0 Registrar Entrada / Salida
    hr.white-hr
    .white-body-container
        .row.mt-3
          .col
            label.form-label Rol
            select(v-model="rol").form-select
              option(value="") Todos
              option(value="Estudiante") Estudiante
              option(value="Personal") Personal
              option(value="Investigador") Investigador
              option(value="Posdoctorante") Posdoctorante
              option(value="Otro") Otro
          .col
            label.form-label Estado
            select(v-model="type").form-select
              option(value="") Todos
              option(value="check_in") Entrada
              option(value="check_out") Salida
              option(value="justify") Justificado
          .col
            label.form-label Nombre
            input.form-control(type="text", placeholder="Ej. Luis Gonzalez Ulloa", v-model.trim="name")
        .row.mt-3
          .col
            label.form-label Institución
            input.form-control(type="text", placeholder="Ej. UTNay", v-model.trim="institution")
          .col
            label.form-label Fecha / Hora mínima
            input.form-control(type="datetime-local", placeholder="2023-06-13 08:16:40", v-model.trim="startDate")
          .col
            label.form-label Fecha / Hora máxima
            input.form-control(type="datetime-local", placeholder="2023-06-13 14:00:40", v-model.trim="endDate")
          .col
            label.form-label Activo
            select(v-model="active").form-select
              option(value="") Todos 
              option(value="1") Activo
              option(value="0") Inactivo