include ../../common/table
mixin table()
  .white-container.mb-4
    .white-body-container
      table.table.table-hover
        thead
          tr
            th
              .th-sortable
                span Id
                +sort("id")
            th Rol
            th Institución
            th Nombre completo
            th Estado
            th Hora
            th Activo
        tbody
          tr(v-for="check in filteredChecks")
            td {{check.checkId}}
            td {{check.customer.rol}}
            td {{check.customer.institution}}
            td {{check.customer.contact.name}}
            td {{check.type == "check_in" ? "Entrada": (check.type == "check_out" ? "Salida" : "Justificado")}}
            td {{check?.createdAt && new Date(check?.createdAt).parseDate() || "NA"}}
            td {{check.active ? "Sí" : "No"}}