mixin operation()
  .white-container.mb-4
    .white-header-container
      h4.white-title Datos del producto
    hr.white-hr
    .white-body-container
      .row
        .col
          label.form-label Registro Cucop
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. 123" v-model="product.cucopId").form-control
        .col
          label.form-label Nombre del producto
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. Lapiz" v-model="product.name").form-control
      .row.mt-3 
        .col
          label.form-label Descripción
          input(type="text" placeholder="Ej. Mirador No.2" v-model="product.description").form-control
      .row.mt-3
        .col
          .form-check
            label.form-check-label Activo
              input(type="checkbox" name="active" v-model="product.active").form-check-input
      .row.mt-3 
        .col-12.text-end
          a(href="/cucop/products").btn.btn-secondary.me-3 Cancelar
          button(type="sumbit" @click="sendForm").btn.btn-primary #{operation == "create" ? "Agregar" : "Actualizar"}
      .row.mt-3
        if operation == "create"
          div(role="alert" v-if="code==200").alert.alert-success.mt-3 Producto creado exitosamente
        else
          div(role="alert" v-if="code==200").alert.alert-success.mt-3 Producto actualizado exitosamente
        div(role="alert" v-if="code!=0 && code!=200").alert.alert-danger.mt-3 Error al realizar la operación revisa los campos