mixin filters()
  .white-container.mb-4
    .white-header-container
      h4.white-title Filtros
      a(href="/cucop/cucop/create").btn.btn-link.p-0 Agregar registro CUCOP
    hr.white-hr
    .white-body-container
      .row
        .col
          label.form-label Clave CUCOP+
          input(type="text" placeholder="12201-0001" v-model="clavecucopid").form-control
        .col
          label.form-label Clave CUCOP
          input(type="text" placeholder="Ej. 12201001" v-model="clavecucop").form-control
        .col
          label.form-label Descripción
          input(type="text" placeholder="Ej. Remuneraciones" v-model="description").form-control
      .row.mt-3
        .col
          label.form-label Unidad de Medida
          input(type="text" placeholder="Ej. Servicio" v-model="unidaddemedida").form-control
        .col
          label.form-label Descripción
          input(type="text" placeholder="Ej. Servicios" v-model="tipodecontratacion").form-control
      .row.mt-3
        .col
          label.form-label Partida Especifica
          input(type="text" placeholder="Ej. 12201" v-model="partidaespecifica").form-control
        .col
          label.form-label Descripción de Partida Especifica
          input(type="text" placeholder="Ej. Remuneraciones al personal eventual" v-model="descpartidaespecifica").form-control
      .row.mt-3
        .col
          label.form-label Partida Generica
          input(type="text" placeholder="Ej. 1212" v-model="partidagenerica").form-control
        .col
          label.form-label Descripción de Partida Generica
          input(type="text" placeholder="Ej. Sueldo base al personal eventual" v-model="descpartidagenerica").form-control
      .row.mt-3
        .col
          label.form-label Concepto
          input(type="text" placeholder="Ej. 1200" v-model="concepto").form-control
        .col
          label.form-label Descripción del concepto
          input(type="text" placeholder="Ej. Remuneraciones al personal de caracter transitorio" v-model="descconcepto").form-control
      .row.mt-3
        .col
          label.form-label Capítulo
          input(type="text" placeholder="Ej. 1000" v-model="capitulo").form-control
        .col
          label.form-label Descripción del capítulo
          input(type="text" placeholder="Ej. Servicios Personales" v-model="desccapitulo").form-control
      .row.mt-3
        .col
          label.form-label Fecha Alta
          input(type="text" placeholder="Ej. dd/mm/aaaa" v-model="fechaalta").form-control
        .col
          label.form-label Fecha Modificación
          input(type="text" placeholder="Ej. dd/mm/aaaa" v-model="fechamodificacion").form-control
        .col
          label(for="active").form-label Activo
          select(id="active" v-model="active").form-select
            option(value="") Todos
            option(value="1") Activo
            option(value="0") Inactivo