mixin operation()
  .white-container.mb-4
    .white-header-container
      h4.white-title Datos del registro CUCOP
    hr.white-hr
    .white-body-container
      .row
        .col-2
          label.form-label Clave CUCOP
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. 12201001" v-model="cucop.clavecucop").form-control
        .col-10
          label.form-label Descripción
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. Remuneraciones" v-model="cucop.descripcion").form-control
      .row.mt-3
        .col-2
          label.form-label Unidad de Medida
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. Servicio" v-model="cucop.unidaddemedida").form-control
        .col-10
          label.form-label Tipo de Contratación
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. Servicios" v-model="cucop.tipodecontratacion").form-control
      .row.mt-3
        .col-2
          label.form-label Partida Especifica
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. 12201" v-model="cucop.partidaespecifica").form-control
        .col-10
          label.form-label Descripción de Partida Especifica
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. Remuneraciones al personal eventual" v-model="cucop.descpartidaespecifica").form-control
      .row.mt-3
        .col-2
          label.form-label Partida Generica
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. 1212" v-model="cucop.partidagenerica").form-control
        .col-10
          label.form-label Descripción de Partida Generica
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. Sueldo base al personal eventual" v-model="cucop.descpartidagenerica").form-control
      .row.mt-3
        .col-2
          label.form-label Concepto
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. 1200" v-model="cucop.concepto").form-control
        .col-10
          label.form-label Descripción del concepto
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. Remuneraciones al personal de caracter transitorio" v-model="cucop.descconcepto").form-control
      .row.mt-3
        .col-2
          label.form-label Capítulo
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. 1000" v-model="cucop.capitulo").form-control
        .col-10
          label.form-label Descripción del capítulo
          <span class="text-red">*</span>
          input(type="text" placeholder="Ej. Servicios Personales" v-model="cucop.desccapitulo").form-control
      .row.mt-3 
        .col-12.text-end
          a(href="/cucop/cucop").btn.btn-secondary.me-3 Cancelar
          button(type="sumbit" @click="sendForm").btn.btn-primary #{operation == "create" ? "Agregar" : "Actualizar"}
      .row.mt-3
        if operation == "create"
          div(role="alert" v-if="code==200").alert.alert-success.mt-3 Registro creado exitosamente
        else
          div(role="alert" v-if="code==200").alert.alert-success.mt-3 Registro actualizado exitosamente
        div(role="alert" v-if="code!=0 && code!=200").alert.alert-danger.mt-3 Error al realizar la operación revisa los campos