mixin form()
  #login-form.panel-container
    h1.mb-3 Iniciar sesi칩n
    .mb-3
      label(for="email").form-label Correo electr칩nico
      input(type="email" id="email" v-model="email").form-control
    .mb-3
      label(for="password").form-label Contrase침a
      input(type="password" id="password" v-model="password").form-control
    .text-end
      button(@click="sendForm").btn.btn-panel-primary Ingresar
    div(role="alert" v-if="code==200").alert.alert-success.mt-3 Inicio de sesi칩n exitoso
    div(role="alert" v-if="code==401").alert.alert-danger.mt-3 Revisa los campos