mixin reports()
  .white-container.mb-4
    .white-header-container
      h5.white-title Obtener reporte
    hr.white-hr
    .white-body-container
      .row
        .col
          label.form-label Seleccione un cliente interno
          select(v-model="customerId").form-select
            option(value="") Todos
            option(v-for="customer in customers" :value="customer.customerId") {{customer.contact.name}}
      .row.mt-3
        .col
          label.form-label Ingresa fecha inicial
          input.form-control(type="datetime-local", v-model.trim="startDate")
        .col
          label.form-label Ingresa fecha final
          input.form-control(type="datetime-local", v-model.trim="endDate")
      .row.mt-3
        .col.text-end
          button(@click="sendReport").btn.btn-primary Descargar
      .row.mt-3
        .col-12
          .row.mt-3
            div(role="alert" v-if="code==200").alert.alert-success.mt-3 Reporte generado exitosamente
            div(role="alert" v-if="code!=0 && code!=200").alert.alert-danger.mt-3 Error al generar el reporte
