mixin operation()
  .white-container.mb-4
    .white-header-container
      h5.white-title Datos del cliente interno
    hr.white-hr
    .white-body-container
      .row
        .col-2
          label.form-label Rol <span class="text-red">*</span>
          select(v-model="customer.rol").form-select
            option(value="") Selecciona un rol
            option(value="Estudiante") Estudiante
            option(value="Personal") Personal
            option(value="Investigador") Investigador
            option(value="Posdoctorante") Posdoctorante
            option(value="Otro") Otro
        .col
          label.form-label Nombre <span class="text-red">*</span>
          input.form-control(type="text" v-model.trim="customer.contact.name")
        .col
          label.form-label Institución <span class="text-red">*</span>
          input.form-control(type="text" v-model.trim="customer.institution")
        .col
          label.form-label Horas objetivo <span class="text-red">*</span>
          input.form-control(type="number" v-model="customer.targetHours" min="0")
        .col
          label.form-label Ajuste de horas  <span class="text-red">*</span>
          input.form-control(type="number" v-model="customer.adjustHours" min="0")
      .row.mt-3
        .col
          label.form-label País <span class="text-red">*</span>
          input.form-control(type="text" v-model.trim="customer.contact.country")
        .col 
          label.form-label Estado <span class="text-red">*</span>
          input.form-control(type="text" v-model.trim="customer.contact.state")
        .col
          label.form-label Municipio <span class="text-red">*</span>
          input.form-control(type="text" v-model.trim="customer.contact.municipality")
      .row.mt-3
        .col
          label.form-label Colonia <span class="text-red">*</span>
          input.form-control(type="text" v-model.trim="customer.contact.suburb")
        .col
          label.form-label Calle <span class="text-red">*</span>
          input.form-control(type="text" v-model.trim="customer.contact.street")
        .col
          label.form-label No. de casa <span class="text-red">*</span>
          input.form-control(type="text" v-model.trim="customer.contact.number")
        .col
          label.form-label Código postal
          input.form-control(type="text" v-model.trim="customer.contact.cp")
      .row.mt-3
        .col
          label.form-label Número telefónico
          input.form-control(type="text" v-model.trim="customer.contact.phone1")
        .col
          label.form-label Número telefónico alternativo 
          input.form-control(type="text" v-model.trim="customer.contact.phone2")
        .col
          label.form-label Correo electrónico
          input.form-control(type="email" v-model.trim="customer.contact.email1")
        .col
          label.form-label Correo electrónico alternativo 
          input.form-control(type="email" v-model.trim="customer.contact.email2")
      .row.mt-3
        .col
          label.form-label Web
          input.form-control(type="url" v-model.trim="customer.contact.web")
      .row.mt-3
        .col
          .form-check.form-switch
            input(type="checkbox" id="active" role="switch" v-model="customer.active").form-check-input
            label(for="active").form-check-label Activo
      .row.mt-3
        .col-12
          .row.mt-3
            if operation == "create"
              div(role="alert" v-if="code==200").alert.alert-success.mt-3 Cliente interno creado exitosamente
            else
              div(role="alert" v-if="code==200").alert.alert-success.mt-3 Cliente interno actualizado exitosamente
            div(role="alert" v-if="code!=0 && code!=200").alert.alert-danger.mt-3 Error al realizar la operación revisa los campos

mixin buttons()
  .white-container.mb-4
    .white-header-container.text-end
      button(onclick="window.location = document.referrer;").btn.btn-secondary.me-3 Cancelar
      button(@click="sendForm").btn.btn-primary #{ operation == "create" ? "Agregar" : "Actualizar" }