mixin operation()
  .white-container.mb-4
    .white-header-container
      h4.white-title Datos del usuario
    hr.white-hr
    .white-body-container
      .row
        .col
          label.form-label Nombre
          span.text-red * 
          input.form-control(type="text" placeholder="Juan Daniel" v-model="user.firstNames")
        .col
          label.form-label Apellidos
          input.form-control(type="text" placeholder="Ej. Gomez Gonzalez" v-model="user.lastNames")
      .row.mt-3
        .col
          label.form-label Correo Electronico
          span.text-red * 
          input.form-control(type="email" placeholder="Ej. correo@cicese.com.mx" v-model="user.email")
        .col
          label.form-label Contraseña
          span.text-red * 
          input.form-control(type="password" placeholder="********" v-model="user.password")
        .col
          label.form-label Rol
          select(name="rol" v-model="user.rol").form-select
            option(value="normal") Normal
            option(value="admin") Administrador
      .row.mt-3
        .col
          .form-check
            label.form-check-label Activo
              input.form-check-input(type="checkbox" name="active" v-model="user.active")
      .row.mt-3 
        .col-12.text-end
          a.btn.btn-secondary.me-3(href="/cucop/users") Cancelar
          button.btn.btn-primary(type="button" @click="sendForm") #{operation == "create" ? "Agregar" : "Actualizar"}
      .row.mt-3
        if operation == "create"
          div.alert.alert-success.mt-3(v-if="code==200" role="alert") Usuario creado exitosamente
        else
          div.alert.alert-success.mt-3(v-if="code==200" role="alert") Usuario actualizado exitosamente
        div.alert.alert-danger.mt-3(v-if="code!=0 && code!=200" role="alert") Error al realizar la operación, revisa los campos
