mixin operation()
  .white-container.mb-4
    .white-header-container
      h4.white-title Datos del registro CUCOP
    hr.white-hr
    .white-body-container
      .row
        .col
          label.form-label Clave CUCOP+
          span.text-red * 
          input.form-control(type="text" placeholder="12201-0001" v-model="cucop.clavecucopid")
        .col
          label.form-label Clave CUCOP
          span.text-red * 
          input.form-control(type="text" placeholder="Ej. 12201001" v-model="cucop.clavecucop")
        .col
          label.form-label Descripción
          span.text-red * 
          input.form-control(type="text" placeholder="Ej. Remuneraciones" v-model="cucop.description")
      .row.mt-3
        .col
          label.form-label Unidad de Medida
          span.text-red * 
          input.form-control(type="text" placeholder="Ej. Servicio" v-model="cucop.unidaddemedida")
        .col
          label.form-label Tipo de Contratación
          span.text-red * 
          input.form-control(type="text" placeholder="Ej. Servicios" v-model="cucop.tipodecontratacion")
      .row.mt-3
        .col
          label.form-label Partida Específica
          span.text-red * 
          input.form-control(type="text" placeholder="Ej. 12201" v-model="cucop.partidaespecifica")
        .col
          label.form-label Descripción de Partida Específica
          span.text-red * 
          input.form-control(type="text" placeholder="Ej. Remuneraciones al personal eventual" v-model="cucop.descpartidaespecifica")
      .row.mt-3
        .col
          label.form-label Partida Genérica
          span.text-red * 
          input.form-control(type="text" placeholder="Ej. 1212" v-model="cucop.partidagenerica")
        .col
          label.form-label Descripción de Partida Genérica
          span.text-red * 
          input.form-control(type="text" placeholder="Ej. Sueldo base al personal eventual" v-model="cucop.descpartidagenerica")
      .row.mt-3
        .col
          label.form-label Concepto
          span.text-red * 
          input.form-control(type="text" placeholder="Ej. 1200" v-model="cucop.concepto")
        .col
          label.form-label Descripción del concepto
          span.text-red * 
          input.form-control(type="text" placeholder="Ej. Remuneraciones al personal de carácter transitorio" v-model="cucop.descconcepto")
      .row.mt-3
        .col
          label.form-label Capítulo
          span.text-red * 
          input.form-control(type="text" placeholder="Ej. 1000" v-model="cucop.capitulo")
        .col
          label.form-label Descripción del capítulo
          span.text-red * 
          input.form-control(type="text" placeholder="Ej. Servicios Personales" v-model="cucop.desccapitulo")
      .row.mt-3
        .col
          label.form-label Fecha Alta
          input.form-control(type="text" placeholder="Ej. dd/mm/aaaa" v-model="cucop.fechaalta")
        .col
          label.form-label Fecha Modificación
          input.form-control(type="text" placeholder="Ej. dd/mm/aaaa" v-model="cucop.fechamodificacion")
      .row.mt-3
        .col
          .form-check
            label.form-check-label Activo
              input.form-check-input(type="checkbox" name="active" v-model="cucop.active")
      .row.mt-3 
        .col-12.text-end
          a.btn.btn-secondary.me-3(href="/cucop/cucop") Cancelar
          button.btn.btn-primary(type="button" @click="sendForm") #{operation == "create" ? "Agregar" : "Actualizar"}
      .row.mt-3
        if operation == "create"
          div.alert.alert-success.mt-3(v-if="code==200" role="alert") Registro creado exitosamente
        else
          div.alert.alert-success.mt-3(v-if="code==200" role="alert") Registro actualizado exitosamente
        div.alert.alert-danger.mt-3(v-if="code!=0 && code!=200" role="alert") Error al realizar la operación, revisa los campos
