include ../../common/table
mixin table()
  .white-container
    .white-body-container
      table.table
        thead
          tr
            th Nombres y Apellidos
            th Rol
            th Correo electrónico
            th Activo
            th Fecha de Creación
            th.center(colspan="2") Acciones
        tbody
          tr(v-for="user in filteredUsers" :key="user.userId")
            td(v-html="`${user.firstNames} ${user.lastNames}`")
            td(v-html="user.rol == 'admin' ? 'Administrador' : 'Normal'")
            td(v-html="user.email")
            td(v-html="user.active ? 'Sí' : 'No'")
            td(v-html="new Date(user.createdAt).parseDate()")
            td.center
              a(:href=`"/cucop/users/"+user.userId+"/edit"`).btn.btn-primary Editar
            td.center
              button(@click="showDialog(user.userId)").btn.btn-danger Eliminar 
