mixin operation()
  .white-container.mb-4
    .white-header-container
      h4.white-title Datos del Producto Listado
    hr.white-hr
    .white-body-container
      .row
        .col
          label.form-label Lista
          span.text-red *
          input(type="text" placeholder="Ej. 123" v-model="listproduct.listId").form-control
        .col
          label.form-label Producto
          span.text-red *
          input(type="text" placeholder="Ej. 123" v-model="listproduct.productId").form-control
      .row.mt-3
        .col
          label.form-label Cantidad
          span.text-red *
          input(type="text" placeholder="Ej. 10" v-model="listproduct.quantity").form-control
        .col
          label.form-label Precio
          span.text-red *
          input(type="text" placeholder="Ej. 10.00" v-model="listproduct.price").form-control
      .row.mt-3
        .col
          .form-check
            label.form-check-label Activo
              input(type="checkbox" name="active" v-model="listproduct.active").form-check-input
      .row.mt-3
        .col-12.text-end
          a(href="/cucop/listproducts").btn.btn-secondary.me-3 Cancelar
          button(type="submit" @click="sendForm").btn.btn-primary #{operation == "create" ? "Agregar" : "Actualizar"}
      .row.mt-3
        if operation == "create"
          div(role="alert" v-if="code==200").alert.alert-success.mt-3 Producto listado creado exitosamente
        else
          div(role="alert" v-if="code==200").alert.alert-success.mt-3 Producto listado actualizado exitosamente
          div(role="alert" v-if="code!=0 && code!=200").alert.alert-danger.mt-3 Error al realizar la operación, revisa los campos
