include ../../common/table
mixin table()
  .white-container
    .white-body-container
      table.table
        thead
          tr
            th
              .th-sortable
                span Id
                +sort("id", "sortByIdDes")
            th Lista
            th Producto
            th Cantidad
            th Precio
            th Activo
            th Fecha de creación
            th.center(colspan="2") Acciones
        tbody
          tr(v-for="listproduct in filteredListProducts") 
            td {{listproduct.listProductId}}
            td {{listproduct.listId}}
            td {{listproduct.productId}}
            td {{listproduct.quantity}}
            td {{listproduct.price}}
            td {{listproduct.active ? "Sí" : "No"}}
            td {{new Date(listproduct.createdAt).parseDate()}}
            td.center
              a(:href=`"/cucop/list-products/"+listproduct.listProductId+"/edit"`).btn.btn-primary Editar
            td.center
              button(@click="showDialog(listproduct.listProductId)").btn.btn-danger Eliminar 