mixin filters()
  .white-container.mb-4
    .white-header-container
      h4.white-title Filtros
      a(href="/cucop/lists/create").btn.btn-link.p-0 Agregar lista de pedidos
    hr.white-hr
    .white-body-container
      .row
        .col
          label.form-label Propietario
          input(type="text" placeholder="Ej. Carlos" v-model="userId").form-control
      .row.mt-3
        .col
          label.form-label Estado
          select(name="rol" v-model="status").form-select
            option(value="") Todos
            option(value="pendiente") Pendiente
            option(value="revisada") Revisada
            option(value="revisando") Revisando
            option(value="aprovada") Aprovada
            option(value="rechazada") Rechazada
        .col
          label(for="active").form-label Activo
          select(id="active" v-model="active").form-select
            option(value="") Todos
            option(value="1") Activo
            option(value="0") Inactivo