include ../../common/table
mixin table()
  .white-container
    .white-body-container
      table.table
        thead
          tr
            th Propietario
            th Titulo
            th Descripción
            th Estado
            th Activo
            th Fecha de creación
            th.center(colspan="3") Acciones
        tbody
          tr(v-for="list in filteredLists") 
            td(v-html="`${list.user.firstNames} ${list.user.lastNames}`") 
            td(v-html="list.title")
            td(v-html="list.description")
            td(v-html="list.status")
            td(v-html="list.active ? 'Sí' : 'No'")
            td(v-html="new Date(list.createdAt).parseDate()")
            td.center
              a(:href=`"/cucop/lists/"+list.listId`).btn.btn-link.p-0 Ver
            td.center
              a(:href=`"/cucop/lists/"+list.listId+"/edit"`).btn.btn-primary Editar
            td.center
              button(@click="showDialog(list.listId)").btn.btn-danger Eliminar
      .pagination
style.
  .white-body-container {
    display: block;
    overflow-x: auto;
  }
  .table {
    width: 100%;
    table-layout: auto;
  }
            