include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/footer.pug
include ../../templates/common/layout.pug
include ../../templates/common/modal.pug
include ../../templates/common/search_field.pug
include ../../templates/general/checks/filters.pug
include ../../templates/general/checks/table.pug

doctype html
html(lang="es")
  head
    +header("Historial")
  body
    .main-container
      +nav-bar(1)
      .right-container
        +nav-top("Historial")
        .content-container#app
          +filters()
          +table()
    +scripts()
    script(src="/time/public/js/general/checks/checks.js" type="module")