include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/layout.pug
include ../../templates/general/cucop/operation.pug
include ../../templates/general/cucop/load.pug

doctype html
html(lang="es")
  head
    if operation == 'create'
      +header("Agregar registro CUCoP")
    if operation == 'edit'
      +header("Editar registro CUCoP")
    else
      +header("Cargar registros CUCoP")
  body
    .main-container
      +nav-bar(2)
      .right-container
        if operation == 'create'
          +nav-top("Agregar registro CUCoP")
        if operation == 'edit'
          +nav-top("Editar registro CUCoP")
        if operation == 'load'
          +nav-top("Cargar registros CUCoP")
        .content-container#app
          if operation == 'load'
            +load()
          else
            +operation()
    +scripts()
    script(src="/cucop/public/js/general/cucop/cucop_operation.js")