include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/layout.pug
include ../../templates/general/cucop/operation.pug

doctype html
html(lang="es")
  head
    if operation == 'create'
      +header("Agregar registro CUCOP")
    else
      +header("Editar registro CUCOP")
  body
    .main-container
      +nav-bar(3)
      .right-container
        if operation == 'create'
          +nav-top("Agregar registro CUCOP")
        else
          +nav-top("Editar registro CUCOP")
        .content-container#app
          +operation()
    +scripts()
    script(src="/cucop/public/js/general/cucop/cucop_operation.js")