include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/layout.pug
include ../../templates/common/modal.pug
include ../../templates/general/cucop/filters.pug
include ../../templates/general/cucop/table.pug

doctype html
html(lang="es")
  head
    +header("Lista de registros CUCoP")
  body
    .main-container
      +nav-bar(2)
      .right-container
        +nav-top("Lista de registros CUCoP")
        .content-container#app
          +filters()
          +table()
    +modal("modalDelete","Eliminar registro CUCoP",undefined,[{type:"secondary-dismiss",title:"Cerrar"},{type:"danger",title:"Eliminar", id:"btnDelete"}])      
    +scripts()
    script(src="/cucop/public/js/general/cucop/cucop.js" type="module")