include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/footer.pug
include ../../templates/common/layout.pug
include ../../templates/common/search_field.pug
include ../../templates/general/customers/operation.pug

doctype html
html(lang="es")
  head
    if operation == 'create'
      +header("Agregar cliente interno")
    else
      +header("Editar cliente interno")
  body
    .main-container
      +nav-bar(2)
      .right-container
        if operation == 'create'
          +nav-top("Agregar cliente interno")
        else
          +nav-top("Editar cliente interno")
        .content-container#app
          +operation()
          +buttons()
    +scripts()
    script(src="/time/public/js/general/customers/customers_operation.js")
