include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/footer.pug
include ../../templates/common/layout.pug
include ../../templates/common/modal.pug
include ../../templates/common/search_field.pug
include ../../templates/general/customers/filters.pug
include ../../templates/general/customers/table.pug

doctype html
html(lang="es")
  head
    +header("Mostrar cliente interno")
  body
    .main-container
      +nav-bar(2)
      .right-container
        +nav-top("Mostrar cliente interno")
        .content-container#app
          +filters()
          +table()
    +modal("modalDelete","Eliminar cliente interno",undefined,[{type:"secondary-dismiss",title:"Cancelar"},{type:"danger",title:"Confirmar", id:"btnDelete"}])
    +scripts()
    script(src="/time/public/js/general/customers/customers.js" type="module")