include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/layout.pug
include ../../templates/common/modal.pug
include ../../templates/general/lists/filters.pug
include ../../templates/general/lists/table.pug

doctype html
html(lang="es")
  head
    +header("Listas de Pedidos")
  body
    .main-container
      +nav-bar(3)
      .right-container
        +nav-top("Listas de Pedidos")
        .content-container#app
          +filters()
          +table()
    +modal("modalDelete","Eliminar lista",undefined,[{type:"secondary-dismiss",title:"Cerrar"},{type:"danger",title:"Eliminar", id:"btnDelete"}])      
    +scripts()
    script(src="/cucop/public/js/general/lists/lists.js" type="module")