include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/layout.pug
include ../../templates/common/modal.pug
include ../../templates/general/listproducts/filters.pug
include ../../templates/general/listproducts/table.pug

doctype html
html(lang="es")
  head
    +header("Productos en Listados")
  body
    .main-container
      +nav-bar(3)
      .right-container
        +nav-top("Productos Listados")
        .content-container#app
          +filters()
          +table()
    +modal("modalDelete","Eliminar producto listado",undefined,[{type:"secondary-dismiss",title:"Cerrar"},{type:"danger",title:"Eliminar", id:"btnDelete"}])      
    +scripts()
    script(src="/cucop/public/js/general/listproducts/listproducts.js" type="module")