include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/layout.pug
include ../../templates/general/products/operation.pug
include ../../templates/common/search_modal.pug

doctype html
html(lang="es")
  head
    if operation == 'create'
      +header("Agregar producto")
    else
      +header("Editar producto")
  body
    .main-container
      +nav-bar(4)
      .right-container
        if operation == 'create'
          +nav-top("Agregar producto")
        else
          +nav-top("Editar producto")
        .content-container#app
          +operation()
          +search_modal()
    +scripts()
    script(src="/cucop/public/js/general/products/products_operation.js")