include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/layout.pug
include ../../templates/common/search_field.pug
include ../../templates/general/quotations/operation.pug

doctype html
html(lang="es")
  head
    if operation == 'create'
      +header("Agregar cotizaci贸n")
    else
      +header("Editar cotizaci贸n")
  body
    .main-container
      +nav-bar(4)
      .right-container
        if operation == 'create'
          +nav-top("Agregar cotizaci贸n")
        else
          +nav-top("Editar cotizaci贸n")
        .content-container#app
          +operation()
    +scripts()
    script(src="/cucop/public/js/general/quotations/quotations_operation.js")