include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/layout.pug
include ../../templates/common/search_field.pug
include ../../templates/common/search_modal.pug
include ../../templates/general/quot_products/operation.pug
include ../../templates/general/quot_products/load.pug
include ../../templates/general/quot_products/tableimport.pug

doctype html
html(lang="es")
  head
    +header("Importar productos en la cotización")
  body
    .main-container
      +nav-bar(0)
      .right-container
        +nav-top("Importar productos a la cotización")
        .content-container#app
            +load()
            +table()
    +scripts()
    script(src="/cucop/public/js/general/quot_products/quot_products_load.js")