include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/layout.pug
include ../../templates/common/modal.pug
include ../../templates/general/quot_products/filters.pug
include ../../templates/general/quot_products/table.pug

doctype html
html(lang="es")
  head
    +header("Productos en Cotización")
  body
    .main-container
      +nav-bar(0)
      .right-container
        +nav-top("Productos Cotizados")
        .content-container#app
          +filters()
          +table()
    +modal("modalDelete","Eliminar producto cotizado",undefined,[{type:"secondary-dismiss",title:"Cerrar"},{type:"danger",title:"Eliminar", id:"btnDelete"}])      
    +scripts()
    script(src="/cucop/public/js/general/quot_products/quot_products.js" type="module")