include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/layout.pug
include ../../templates/common/modal.pug
include ../../templates/general/quotations/filters.pug
include ../../templates/general/quotations/table.pug

doctype html
html(lang="es")
  head
    +header("Lista de cotizaciones")
  body
    .main-container
      +nav-bar(0)
      .right-container
        +nav-top("Lista de cotizaciones")
        .content-container#app
          +filters()
          +table()
    +modal("modalDelete","Eliminar cotizaciones",undefined,[{type:"secondary-dismiss",title:"Cerrar"},{type:"danger",title:"Eliminar", id:"btnDelete"}])      
    +scripts()
    script(src="/cucop/public/js/general/quotations/quotations.js" type="module")