include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/layout.pug
include ../../templates/common/search_field.pug
include ../../templates/general/quotations/load.pug

doctype html
html(lang="es")
  head
    +header("Archivo adjunto")
  body
    .main-container
      +nav-bar(0)
      .right-container
        +nav-top("Archivo adjunto")
        .content-container#app
          +load()
    +scripts()
    script(src="/cucop/public/js/general/quotations/quotations_file.js")