include ../../templates/common/constants.pug
include ../../templates/common/header.pug
include ../../templates/common/scripts.pug
include ../../templates/common/layout.pug
include ../../templates/common/modal.pug
include ../../templates/general/users/filters.pug
include ../../templates/general/users/table.pug

doctype html
html(lang="es")
  head
    +header("Lista de usuarios")
  body
    .main-container
      +nav-bar(3)
      .right-container
        +nav-top("Lista de usuarios")
        .content-container#app
          +filters()
          +table()
    +modal("modalDelete","Eliminar usuario",undefined,[{type:"secondary-dismiss",title:"Cerrar"},{type:"danger",title:"Eliminar", id:"btnDelete"}])      
    +scripts()
    script(src="/time/public/js/general/users/users.js" type="module")